<div class="card mb-4">
  <div class="card-body bg-light">
    <div class="card-title">
      <h3>
        <i class="fa fa-book" aria-hidden="true"></i>
        Buch hinzufügen
      </h3>
    </div>

    <form>
      <div class="form-group">
        <label for="isbn">
          <i class="fa fa-barcode" aria-hidden="true"></i>
          ISBN
        </label>
        <input class="form-control" name="isbn" type="text" #isbn>
      </div>

      <div class="form-group">
        <label for="title">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          Titel
        </label>
        <input class="form-control" name="title" type="text" #title>
      </div>

      <div class="form-group">
        <label for="description">
          <i class="fa fa-align-left" aria-hidden="true"></i>
          Beschreibung
        </label>
        <textarea class="form-control" name="description" #description></textarea>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-success" (click)="add(isbn, title, description)">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Hinzufügen
        </button>
      </div>

    </form>

  </div>
</div>
