<div class="card mb-4">
  <div class="card-body bg-light">
    <div class="card-title">
      <h3>
        <i class="fa fa-book" aria-hidden="true"></i>
        Buch hinzufügen
      </h3>
    </div>

    <form>
      <div class="form-group">
        <label for="isbn">
          <i class="fa fa-barcode" aria-hidden="true"></i>
          ISBN
        </label>
        <input class="form-control" name="isbn" type="text" #isbn>
      </div>

      <div class="form-group">
        <label for="title">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          Titel
        </label>
        <input class="form-control" name="title" type="text" #title>
      </div>

      <div class="form-group">
        <label for="description">
          <i class="fa fa-align-left" aria-hidden="true"></i>
          Beschreibung
        </label>
        <textarea class="form-control" name="description" #description></textarea>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-success" (click)="add(isbn, title, description)">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Hinzufügen
        </button>
      </div>

    </form>

  </div>
</div>



<br-book *ngFor="let b of books; index as i" [book]="b" [index]="i" (rated)="reorderBooks($event)"></br-book>


<h4>Bücher als JSON:</h4>
<pre>
{{ books | json }}
</pre>


<hr>

<span class="date-box">
  {{ d | date:'fullDate' }}
</span>


<!--
<div *ngFor="let b of books; index as i">
  {{ i + 1 }}.) {{ b.title }}
</div>
-->
