<div class="card mb-4">
  <div class="card-body bg-light">
    <div class="img-thumbnail float-right">
      <img src="//api.angular.schule/avatar/{{ book.rating }}" alt="">
    </div>
    <div class="card-title">
      <h2>
        {{ index + 1 }}.) {{ book.title }}
        <span class="badge badge-warning">{{ book.rating }}</span>
      </h2>
    </div>

    <span *ngFor="let x of getStarArray()">⭐️</span>

    <p>
      {{ book.description }}
    </p>

    <button class="btn btn-secondary fa fa-thumbs-up rate-up-btn" (click)="rateUp()"></button>
    <button class="btn btn-secondary fa fa-thumbs-down" (click)="rateDown()"></button>

  </div>
</div>
