<div class="card mb-4">
  <div class="card-body bg-light">
    <div class="img-thumbnail float-right">
      <img src="//api.angular.schule/avatar/{{ book.rating }}" alt="">
    </div>
    <div class="card-title">
      <h2>
        {{ index + 1 }}.)  {{ book.title }}
        <span class="badge badge-warning">{{ book.rating }}</span>
      </h2>
    </div>

    <span *ngFor="let x of getStarArray()">⭐️</span>

    <p>
      {{ book.description }}
    </p>

    <button class="btn btn-secondary" (click)="rateUp()"> +1 </button>
    <button class="btn btn-secondary" (click)="rateDown()"> -1 </button>

  </div>
</div>
